@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root{
  --primary-color: #8B3AF1;
  --secondary-color: black;
  --background-color: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--secondary-color);
  background: var(--background-color);
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:visited{
  color: var(--secondary-color);
}
.highlight-text{
  color: var(--primary-color);
}
